{% extends 'index.html' %}


{% block content %}


        <!--start breadcrumb-->
        <section class="py-3 border-bottom d-none d-md-flex">
          <div class="container">
            <div class="page-breadcrumb d-flex align-items-center">
              <h3 class="breadcrumb-title pe-3">Каталог категорий</h3>
              <div class="ms-auto">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="{% url 'index.html' %}"><i class="bx bx-home-alt"></i> Главная</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">Каталог категорий</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!--end breadcrumb-->

        <!--start shop categories-->
        <section class="py-4">
          <div class="container">
            <div class="product-categories">
              <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                  <div class=" button card rounded-0 product-card" rel="block-1" id="block-dis">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/electro.png" class="card-img-top  border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>

                    <div class=" list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Высоковольтное и щитовое оборудование  </h6>
                      </a>  
                    </div>

                  </div>
                  
                  <div class="block card  " id="block-1" >
                      
                    <div class="row row-cols-1 row-cols-lg-2 align-items-center" >
                      <div class="col">  
                        <div>высоковольтное оборудование</div>
                      
                        <div><a class="" href="">1</a></div>
                        <div><a class="" href="">1</a></div>
                        
                      </div>

                      
                      <div class="col">
                        <div>щитовое оборудование</div>
                        {% for c in categories %}
                          {% if c.name == "Аксессуары и комплектующие для щитов и шкафов" %}
                          <div><a class="" href="{{c.get_absolute_url}}">Аксессуары и комплектующие для щитов и шкафов</a></div>
                          <div><a class="" href="">1</a></div>  
                          {% endif %}   
                        {% endfor %}    
                      </div>
                      
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="button card rounded-0 product-card " rel="block-2">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/batery.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Генераторы электроэнергии и элементы питания</h6>
                      </a> 
                    </div>
                  </div>

                  <div class="block row-cols-lg-2 card " id="block-2" >
                    <div class="col">  
                      Генераторы электроэнергии
                      <div><a class="" href="">1</a></div>
                      <div><a class="" href="">1</a></div>
                      
                    </div>
                    <div class="col">
                      Элементы питания
                      <div><a class="" href="">1</a></div>
                      <div><a class="" href="">1</a></div>
                    </div>
                  </div>        
                </div>
                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/montage.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Изделия для электромонтажа</h6>
                      </a> 
                    </div>
                  </div>
                </div>
                



                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/instrument.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Инструменты, техника</h6>
                      </a> 
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/kabelenes_sys.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Кабеленесущие системы</h6>
                      </a> 
                    </div>
                  </div>
                </div>



                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/kabeli.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Кабели, провода и аксессуары</h6>
                      </a> 
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/wind.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Климатические и инженерные системы</h6>
                      </a> 
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/rele.png" class="card-img-top border-bottom mx-auto d-block " style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Низковольтное и промышленное электрооборудование</h6>
                      </a> 
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/svetilniki.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Освещение</h6>
                      </a> 
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript bg-dark-1:;">
                      <img src="/media/shop-categories/montage.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Связь, телекоммуникации</h6>
                      </a> 
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/saved.png" class="card-img-top border-bottom mx-auto d-block " style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Устройства и средства безопасности</h6>
                      </a> 
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card rounded-0 product-card">
                    <a href="javascript:;">
                      <img src="/media/shop-categories/rozetki.png" class="card-img-top border-bottom mx-auto d-block" style="width: 100px; height: 100px;" alt="...">
                    </a>
                    <div class="list-group list-group-flush">
                      <a href="javascript:;" class="list-group-item bg-transparent">
                        <h6 class="mb-0 text-uppercase text-center">Электроустановочные изделия</h6>
                      </a> 
                    </div>
                  </div>
                </div>
              </div>
              <!--end row-->
            </div>
          </div>
        </section>
        <!--end shop categories-->



<!--<div class="container text-center">
  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
          Высоковольтное и щитовое оборудование
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
          Генераторы электроэнергии и элементы питания
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
          Изделия для электромантажа
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>

  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
          Инструменты, техника
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
          Кабеленесущие системы
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
          Кабели, провода и аксессуары 
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample6">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>

  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
          Климатические и инженерные системы
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
          Низковольтное и промышленное электрооборудование
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
          Освещение
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample7">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample8">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample9">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>

  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
          Связь, телекомуникации
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample">
          Устройства и средства безопасности
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample12" role="button" aria-expanded="false" aria-controls="collapseExample">
          Электроустановочные изделия
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample10">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample11">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample12">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>



  

 
</div>-->
<script>
  let buttons = document.querySelectorAll('.button');
  buttons.forEach((btn) => {
      btn.addEventListener('click', function () {
          let block = document.getElementById(btn.getAttribute('rel'));
          if(!block.style.display || block.style.display === 'none') {
              block.style.display = 'block';
          } else {
              block.style.display = 'none';
          }
      })
  })
</script>
      

{% endblock content %}


<!-- модуль MPTT для рекурсивного вызова всех категорий
{% load mptt_tags %}
<div class="accordion accordion-flush row row-cols-1 row-cols-md-5 g-4">

    {% recursetree categories %}
    
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
              <p class="text-center">
                {{ node.name }}
              </p>

              {% if not node.is_leaf_node %}

                <div id="{% if node.level == 1 %} flush-collapse3 {% endif %}" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <em class="">{{ children }}</em>
                  </div>
                </div>
              {% endif %} 


         </div>
      {% endrecursetree %}
-->