{% extends 'base.html' %}


{% block content %}

<nav aria-label="breadcrumb" class="mt-3 ms-5">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'base.html' %}">Главная</a></li>
		
	</ol>
</nav>


<div class="container text-center">
  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
          Высоковольтное и щитовое оборудование
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
          Генераторы электроэнергии и элементы питания
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
          Изделия для электромантажа
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>

  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
          Инструменты, техника
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
          Кабеленесущие системы
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
          Кабели, провода и аксессуары 
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample6">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>

  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
          Климатические и инженерные системы
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
          Низковольтное и промышленное электрооборудование
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
          Освещение
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample7">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample8">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample9">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>

  <div class="row">
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
          Связь, телекомуникации
        </a>
      </p> 
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample">
          Устройства и средства безопасности
        </a>
      </p>
    </div>
    <div class="col">
      <p>
        <a class="btn btn-primary" style="height: 80px; width: 300px;" data-bs-toggle="collapse" href="#collapseExample12" role="button" aria-expanded="false" aria-controls="collapseExample">
          Электроустановочные изделия
        </a>
      </p>
    </div>
  </div>
    <div class="collapse" id="collapseExample10">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
      </div>
    </div>
    <div class="collapse" id="collapseExample11">
      <div class="card card-body">
          Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, 
      </div>
    </div>
    <div class="collapse" id="collapseExample12">
      <div class="card card-body">
        Некоторый заполнитель для компонента сворачивания. 
      </div>
    </div>



  

 
</div>

      

{% endblock content %}


<!-- модуль MPTT для рекурсивного вызова всех категорий
{% load mptt_tags %}
<div class="accordion accordion-flush row row-cols-1 row-cols-md-5 g-4">

    {% recursetree categories %}
    
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
              <p class="text-center">
                {{ node.name }}
              </p>

              {% if not node.is_leaf_node %}

                <div id="{% if node.level == 1 %} flush-collapse3 {% endif %}" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <em class="">{{ children }}</em>
                  </div>
                </div>
              {% endif %} 


         </div>
      {% endrecursetree %}
-->