{% extends 'base.html' %}


{% block content %}

<nav aria-label="breadcrumb" class="mt-3 ms-5">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'base.html' %}">Главная</a></li>
		
	</ol>
</nav>

<div class="row row-cols-1 row-cols-md-5 g-4">


<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>


</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample1">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample2">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample3">

  <div class="card card-body">
    <button type="button" class="btn-close" aria-label="Закрыть"></button>  
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample4">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4">

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>

<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
  </a>
</p>

</div>



<div class="collapse" id="collapseExample5">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample6">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample7">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample8">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>

<div class="collapse" id="collapseExample9">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>


<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Переключить первый элемент</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Переключить второй элемент</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Переключить оба элемента</button>
</p>











{% load mptt_tags %}
<div class="row row-cols-1 row-cols-md-5 g-4">

    {% recursetree categories %}
    

       	<div class="card">

       			
       			<a class="btn btn-primary" data-bs-toggle="collapse" href="/category/{{node.slug}} #collapseExample" role="button" aria-expanded="false" aria-controls="{%if node.level == 1%} collapseExample {%elif node.level != 1%} {%endif%}">
       			{{ node.name }}
       			</a>

            	{% if not node.is_leaf_node %}
            		<div div class="collapse" id="{% if node.level == 1 %} collapseExample {% endif %}">   
                		<div class="card card-body">                                                                         
                    		<em class="">{{ children }}</em>
                		</div>
            		</div>
            	{% endif %} 


       	 </div>
    	{% endrecursetree %}

    </div>	
</div>

{% endblock content %}