body {
    height: 100%;
}

body {
    display: flex;
    width: 1349px;
    
    flex-direction: column;
    background: linear-gradient(to top, #6699ff 0%, #33cccc 100%);
}

          

#nav-bar ul li{
    border: ;
    border-radius: 5px;
    z-index: 5;

}




section {
    flex: 1 0 auto;
    height: 1500px;
    z-index: 1;

}



#content-sec {
    position: absolute;
    right: 0;
    float: left;
    width: 100%;
    z-index: 1;
    margin-right: 100px;
    
}

#content-product-detail{
    margin-left: 250px;
}

#content-contact{
    margin-left: 100px;
}



a{text-decoration: none;}

.nav-pan {
    float: left;
    height: auto;
    width: 150px;
    margin: 30px;
    background: linear-gradient(to top, #ccffff 0%, #ffffff 100%);
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;



}

#nav-span {
    align-content: center;
    padding: 10px;


}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu{
    width: 200px;
    border: solid 1px;
    border-radius: 5px;
    


}
.menu a{     
    background-color: #fff;
    padding: 5px;  
    display: block;
    color: #000;
    border-bottom: 1px;
    transition: 0.2s all;
    border-radius: 10px;
    border: solid 1px;
    width: 175px;
}
.menu a:hover{
    background: #9966ff;
    padding: 5px 0 5px 5px;

}

.menu__list{
    position: relative;
}

div.children-1class-0{
    position: absolute;
    width: 200px;
    left: 100%;
    display: none;
    padding: 1px;
    top: 0;
    z-index: 2;    
    background: #fff;
    border: solid 1px;

}

div.children-1class-0 a{
    background: #fff;
    border: solid 1px;
    border-radius: 5px;
}


div.children-1class-1{
    position: absolute;
    width: 500px;
    left: 100%;
    display: none;
    padding: 1px;
    top: 0;
    z-index: 2;
    background: #fff;
    border: solid 1px;
}

div.children-1class-1 a{
    width: 475px;
}


           

li.menu__list:hover div.children-1class-0{
    display: block;
}

li.menu__list:hover div.children-1class-1{
    display: none;
}


div.children-1class-0 ul li:hover div.children-1class-1{
    display: block;
}

.paginator  {
    clear: left;
    width: 200px;
}

           

#f-r {
    clear: left;
}
#search {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 600px;
    height: 45px;
    background: linear-gradient(to bottom, #3333cc 0%, #00ffff 100%);
    border-radius: 8px;
    
    
}

header {
    background: linear-gradient(to bottom, #3333cc 0%, #00ffff 100%);
    z-index: 1;
}

#header_text {
    font-style: italic;
    font-style: oblique;
}



input {
    width: 250px;
    height: 42px;
    padding-left: 50px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;
    position: relative;
    transition: .3s linear;
}

input:focus {
    
    width: 300px;
}

#form_crispy{
    position: absolute;
    width: 500px;
}

 footer {
    flex: 0 0 auto;
    clear: left;
  
    height: 100px;
    background: linear-gradient(to bottom, #ccffff 0%, #006699 100%);
    
}
.btn-category{
    background: darkblue;
    margin: 100px;
    z-index: 2;
}

.ulnavbar{
    z-index: 3;
}

.cont-baner{
    border: solid 1px;
}

.characteristic{
    margin-left: 100px;
    width: 800px;
    border: solid 1px;
    position: relative;
    margin-top: 15px;
    margin-left: 250px;
}

.characteristic p{
    text-align-last: center;
}

.table-cart{
    margin-left: 100px;
    width: 1100px;
    
}

.table-cart tr{
    border: solid;
}

.table-cart th{
    border: solid;
    text-align-last: center;
}

.table-cart td{
    border: solid;
    text-align-last: center;
}



nav{
list-style: none;
}