{% extends "mainapp/index.html" %}
{% load static %}
{% block title %}
    Ваша корзина товаров
{% endblock %}
{% block content %}

                <section class="py-4">
                    <div class="container">
                        <div class="shop-cart">
                            <div class="row">
                                <div class="col-12 col-xl-8">
                                    <div class="shop-cart-list mb-3 p-3">
                                        <div class="row align-items-center g-3">

                                        {% for item in cart %}
                                            {% with product=item.product %}


                                            <div class="col-12 col-lg-6">
                                                <div class="d-lg-flex align-items-center gap-2">
                                                    <div class="cart-img text-center text-lg-start">
                                                        <a href="{{ product.get_absolute_url }}">        
                                                            <img src="{{ product.image.url }}" width="130" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="cart-detail text-center text-lg-start">
                                                        <h6 class="mb-2">{{ product.title }}</h6>
                                                        <h5 class="mb-0">{{ product.price }}</h5>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-lg-3">
                                                <div class="cart-action text-center">
                                                    <input type="number" class="form-control rounded-0" value="2" min="1">
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3">
                                                <div class="text-center">
                                                    <div class="d-flex gap-2 justify-content-center justify-content-lg-end"> <a href="javascript:;" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-x-circle'></i> удалить</a>
                                                        <a href="javascript:;" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-heart me-0'></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endwith %}
                                    {% endfor %}


                                        <div class="my-4 border-top"></div>
                                        <div class="d-lg-flex align-items-center gap-2">    <a href="javascript:;" class="btn btn-light btn-ecomm"><i class='bx bx-shopping-bag'></i> Continue Shoping</a>
                                            <a href="javascript:;" class="btn btn-light btn-ecomm ms-auto"><i class='bx bx-x-circle'></i> Clear Cart</a>
                                            <a href="javascript:;" class="btn btn-white btn-ecomm"><i class='bx bx-refresh'></i> Update Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-4">
                                    <div class="checkout-form p-3 bg-dark-1">
                                        <div class="card rounded-0 border bg-transparent shadow-none">
                                            <div class="card-body">
                                                <p class="fs-5 text-white">Apply Discount Code</p>
                                                <div class="input-group">
                                                    <input type="text" class="form-control rounded-0" placeholder="Enter discount code">
                                                    <button class="btn btn-light btn-ecomm" type="button">Apply Discount</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card rounded-0 border bg-transparent shadow-none">
                                            <div class="card-body">
                                                <p class="fs-5 text-white">Estimate Shipping and Tax</p>
                                                <div class="my-3 border-top"></div>
                                                <div class="mb-3">
                                                    <label class="form-label">Country Name</label>
                                                    <select class="form-select rounded-0">
                                                        <option selected>United States</option>
                                                        <option value="1">Australia</option>
                                                        <option value="2">India</option>
                                                        <option value="3">Canada</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">State/Province</label>
                                                    <select class="form-select rounded-0">
                                                        <option selected>California</option>
                                                        <option value="1">Texas</option>
                                                        <option value="2">Canada</option>
                                                    </select>
                                                </div>
                                                <div class="mb-0">
                                                    <label class="form-label">Zip/Postal Code</label>
                                                    <input type="email" class="form-control rounded-0">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card rounded-0 border bg-transparent mb-0 shadow-none">
                                            <div class="card-body">
                                                <p class="mb-2">Subtotal: <span class="float-end">$198.00</span>
                                                </p>
                                                <p class="mb-2">Shipping: <span class="float-end">--</span>
                                                </p>
                                                <p class="mb-2">Taxes: <span class="float-end">$14.00</span>
                                                </p>
                                                <p class="mb-0">Discount: <span class="float-end">--</span>
                                                </p>
                                                <div class="my-3 border-top"></div>
                                                <h5 class="mb-0">Order Total: <span class="float-end">212.00</span></h5>
                                                <div class="my-4"></div>
                                                <div class="d-grid"> <a href="javascript:;" class="btn btn-white btn-ecomm">Proceed to Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                    </div>
                </section>





    <h1>Ваша корзина товаров</h1>
    <table class="cart table">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>количество</th>
            <th>удалить</th>
            <th>цена за товар</th>
            <th>Ценв</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id%}">Remove</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="" class="button light">Continue shopping</a>
        <a href="#" class="button">Checkout</a>
    </p>
{% endblock %}
