
body {
                height: 100%;
            }

            #nav-bar ul li{
                border: ;
                border-radius: 5px;
                z-index: 5;
            }

            #nav-span {
                align-content: center;
                padding: 10px;

            }

            ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .menu{
                width: 200px;
                border: solid 1px;
                border-radius: 5px;
                


            }
            .menu a{     
                background-color: #fff;
                padding: 5px;  
                display: block;
                color: #000;
                border-bottom: 1px;
                transition: 0.2s all;
                border-radius: 10px;
                border: solid 1px;
                width: 175px;
            }
            .menu a:hover{
                background: #9966ff;
                padding: 5px 0 5px 5px;

            }

            .menu__list{
                position: relative;
            }

            div.children-1class-0{
                position: absolute;
                width: 200px;
                left: 100%;
                display: none;
                padding: 1px;
                top: 0;
                z-index: 2;                
                background: #fff;
                border: solid 1px;

            }

            div.children-1class-0 a{
                background: #fff;
                border: solid 1px;
                border-radius: 5px;
            }

            div.children-1class-1{
                position: absolute;
                width: 500px;
                left: 100%;
                display: none;
                padding: 1px;
                top: 0;
                z-index: 2;
                background: #fff;
                border: solid 1px;
            }

            div.children-1class-1 a{
                width: 475px;
            }

            li.menu__list:hover div.children-1class-0{
                display: block;
            }

            li.menu__list:hover div.children-1class-1{
                display: none;
            }


            div.children-1class-0 ul li:hover div.children-1class-1{
                display: block;
            }

           
            #form_crispy{
                position: absolute;
                width: 500px;
                margin-left: 500px;

            }

            .content-chek{
                height: auto;
            }

            .content-chek table{
                width: 1100px;
                margin-left: 150px
            }

            .content-chek tr{
                border: solid;
                text-align-last: center;  
            }

            .content-chek th{
                border: solid;
                text-align-last: center;  
            }

            .content-chek td{
                border: solid;
                text-align-last: center;  
            }

            .btn-category{
                background: darkblue;
                margin: 100px;
                z-index: 2;
            }

            .ulnavbar{
                z-index: 3;
            }

            .cont-baner{
                border: solid 1px;
            }

            .characteristic{
                margin-left: 100px;
                width: 800px;
                border: solid 1px;
                position: relative;
                margin-top: 15px;
                margin-left: 250px;
            }

            .characteristic p{
                text-align-last: center;
            }

            .table-cart{
                margin-left: 100px;
                width: 1100px;
                
            }

            .table-cart tr{
                border: solid;
            }

            .table-cart th{
                border: solid;
                text-align-last: center;
            }

            .table-cart td{
                border: solid;
                text-align-last: center;
            }

            nav{
                list-style: none;
            }