
body {
    height: 100%;
    background: red;
}


a {
    color: green;
}

#test_color {
    color: red;
    border: solid;

}

.nav-item {
    background: red;
}

#nav-bar ul li{
    border: ;
    border-radius: 5px;
    z-index: 5;
}

#nav-span {
    align-content: center;
    padding: 10px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}



           
#form_crispy{
    position: absolute;
    width: 500px;
    margin-left: 500px;

}

.content-chek{
    height: auto;
}

.content-chek table{
    width: 1100px;
    margin-left: 150px
}

.content-chek tr{
    border: solid;
    text-align-last: center;  
}

.content-chek th{
    border: solid;
    text-align-last: center;  
}

.content-chek td{
    border: solid;
    text-align-last: center;  
}

.btn-category{
    background: darkblue;
    margin: 100px;
    z-index: 2;
}

.ulnavbar{
    z-index: 3;
}

.cont-baner{
    border: solid 1px;
}

.characteristic{
    margin-left: 100px;
    width: 800px;
    border: solid 1px;
    position: relative;
    margin-top: 15px;
    margin-left: 250px;
}

.characteristic p{
    text-align-last: center;
}

.table-cart{
    margin-left: 100px;
    width: 1100px;
                
}

.table-cart tr{
    border: solid;
}

.table-cart th{
    border: solid;
    text-align-last: center;
}

.table-cart td{
    border: solid;
    text-align-last: center;
}

nav{
    list-style: none;
}