{% extends 'mainapp/index.html' %}

{% block content %}
 


 {% if not cart_items %}
		<div style="font-size:18px; margin-bottom:300px;margin-top:30px" class="container alert alert-info text-center" role="alert">
		<b>Your Cart Is Empty,&nbsp;&nbsp; <a href="{% url 'mainapp:index.html' %}" style="color:#21094e;text-decoration: underline;">Вернуться к покупкам<a></b>
		</div>
{% else %}



<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom d-none d-md-flex">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Shop Cart</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
										</li>
										<li class="breadcrumb-item"><a href="javascript:;">Shop</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					
					<div class="container">
						<div class="shop-cart">
							<div class="row">
								<div class="col-12 col-xl-8">
									<div class="shop-cart-list mb-3 p-3">
										{% for cart_item in cart_items %}
										<!--начало одного продукта-->
										<div class="row align-items-center g-3">
											<div class="col-12 col-lg-6">
												<div class="d-lg-flex align-items-center gap-2">
													
													<div class="cart-img text-center text-lg-start">
														<img src="{{cart_item.product.image.url}}" width="130" alt="">
													</div>
													<div class="cart-detail text-center text-lg-start">
														<h6 class="mb-2">{{ cart_item.product.title }}</h6>
														
														<h5 class="mb-0">{{cart_item.product.price}}</h5>
													</div>
													<div class="cart-detail text-center text-lg-start">
														<form style="" action="{% url 'cart:add_cart' cart_item.product.id %}" method="POST">
															{% csrf_token %}
															<div class="cart-action text-center">
															
																<input class="form-control rounded-0" type="number" value="{{cart_item.quantity}}" min="1">
															</div>
														</form>

													</div>
												</div>
											
											
												
													
												
											</div>
											<div class="col-12 col-lg-3">
												<div class="text-center">
													<div class="d-flex gap-2 justify-content-center justify-content-lg-end"> <a href="javascript:;" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-x-circle'></i>Удалить</a>
														
													</div>
												</div>
											</div>
										</div>
										<div class="my-4 border-top"></div>
										{% endfor %}

										<a href="javascript:;">
											<div class="text-center cart-footer d-flex align-items-center">
												<h5 class="mb-0">ВСЕГО</h5>
												<h5 class="mb-0 ms-auto"></h5>
											</div>
										</a>
										
										<div class="my-4 border-top"></div>

										<!-- нижняя строка отчистки страницы-->
										<div class="d-lg-flex align-items-center gap-2">	<a href="javascript:;" class="btn btn-light btn-ecomm"><i class='bx bx-shopping-bag'></i> Продолжить покупки</a>
											<a href="javascript:;" class="btn btn-light btn-ecomm ms-auto"><i class='bx bx-x-circle'></i> Clear Cart</a>
											<a href="javascript:;" class="btn btn-white btn-ecomm"><i class='bx bx-refresh'></i> Update Cart</a>
										</div>


									</div>
								</div>

							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
{% endif %}
		
{% endblock content %}


