{% extends 'mainapp/index.html' %}

{% block content %}
 


 {% if not cart_items %}

 		<section class="py-3 border-bottom d-none d-md-flex">
			<div class="container">
				<div class="page-breadcrumb d-flex align-items-center">
					<h3 class="breadcrumb-title pe-3">Корзина</h3>
					<div class="ms-auto">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="{% url 'mainapp:index.html' %}"><i class="bx bx-home-alt"></i> Магазин</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">корзина</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<div style="font-size:18px; margin-bottom:300px;margin-top:30px" class="container alert alert-info text-center" role="alert">
		<b>Ваша корзина пуста,&nbsp;&nbsp; <a href="{% url 'mainapp:index.html' %}" style="color:#21094e;text-decoration: underline;">Вернуться к покупкам<a></b>
		</div>
{% else %}




<!--start page wrapper -->

				<!--start breadcrumb-->
				<section class="py-3 border-bottom d-none d-md-flex">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Корзина</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="{% url 'mainapp:index.html' %}"><i class="bx bx-home-alt"></i> Магазин</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">корзина</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					
					<div class="container">
						<div class="shop-cart">
							<div class="row">
								<div class="col-12 col-xl-8">
									<div class="shop-cart-list mb-3 p-3">
										{% for cart_item in cart_items %}
										<!--начало одного продукта-->
										<div class="row align-items-center g-6">
											<div class="col-3 col-lg-9">
												<div class="d-lg-flex align-items-center gap-2">
													
													<div class="col cart-img mb-1">
														<a href="{{ product.get_absolute_url }}">
														<img style="width: 8rem; padding-left: 15px" src="{{cart_item.product.image.url}}"alt=""></a>
													</div>
													<div class="col cart-detail text-center text-lg-start" style="padding-left: 20px; padding-right: 20px; position: center;">
														<h6 class="mb-2">{{ cart_item.product.title }}</h6>
														<span class="mb-0">{{cart_item.product.category}}</span>
														
														<h6 class="mb-0">{{cart_item.product.price}}</h6>
													</div>

													<div class="col plus-minus">
														<form style="" action="{% url 'cart:add_cart' cart_item.product.id %}" method="POST">
															<a href="{% url 'cart:remove_cart' cart_item.product.id cart_item.id %}" ><i style="text-align: center; background:#232323;color:#fff;height:35px;margin-top:-5px;width:65px; border-radius: 4px;" class="bx bx-minus "></i></a>
															
															<input style=" height:35px; width: 65px;" class="form-control" value="{{cart_item.quantity}}">

															{% csrf_token %}
															{% for item in cart_item.variation.all %}
															<input type="hidden" name="{{ item.variation_category }}" value= "{{ item.variation_value |  capfirst}}">
															{% endfor %}

															<button style="background:#232323;color:#fff; height:35px; margin-top:-3px " class="btn btn-light" type="submit" id="button-minus"> <i class="bx bx-plus"></i> </button>
														</form>
													</div>
												</div>
											</div>
											<div class="col-12 col-lg-3">
												<div class="text-center">
													<div class="d-flex gap-2 justify-content-center justify-content-lg-end"> <a href="{% url 'cart:remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-x-circle'></i>Удалить</a>
														
													</div>
												</div>
											</div>

											<hr>
										</div>
									
										{% endfor %}
										<!-- нижняя строка отчистки страницы-->
									</div>
								</div>

								<div class="col-12 col-xl-4">
											<div class="checkout-form p-3 bg-dark-1">
												<div class="card rounded-0 border bg-transparent mb-0 shadow-none">
													<div class="card-body">
														<p class="mb-2">Предворительно: <span class="float-end">{{ order_total }}</span>
														
														<p class="mb-0">Скидка: <span class="float-end">0%</span>
														</p>
														<div class="my-3 border-top"></div>
														<h5 class="mb-0">Общая стоимость: <span class="float-end">{{order_total}}</span></h5>
														<div class="my-4"></div>
														<div class="d-grid"> <a href="{% url 'mainapp:postorder' %}" class="btn btn-white btn-ecomm">Оформить заказ!</a>
														</div>
													</div>
												</div>
											</div>
										</div>

							</div>

							<div class="d-lg-flex align-items-center gap-2">	<a href="{% url 'mainapp:index.html' %}" class="btn btn-light btn-ecomm"><i class='bx bx-shopping-bag'></i> Продолжить покупки</a>
																		
							</div>

							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->

{% endif %}
		
{% endblock content %}


