{% csrf_token %}

{% load static %}

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href=" {% static 'mainapp/css/styles.css' %} ">

	<!--favicon-->
	<link rel="icon" href="/media/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="{% static 'mainapp/plugins/OwlCarousel/css/owl.carousel.min.css' %}" rel="stylesheet" />
	<link href="{% static 'mainapp/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
	<link href="{% static 'mainapp/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
	<link href="{% static 'mainapp/plugins/metismenu/css/metisMenu.min.css}' %}" rel="stylesheet" />

	<!-- loader-->
	<link href="{% static 'mainapp/css/pace.min.css' %}" rel="stylesheet" />
	<script src="{% static 'mainapp/js/pace.min.js' %}"></script>
	<script src="{% static 'mainapp/js/script.js' %}"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static 'mainapp/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="{% static 'mainapp/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'mainapp/css/icons.css' %}" rel="stylesheet">
	<link href="{% static 'mainapp/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'mainapp/css/normalize.css' %}" rel="stylesheet">
	<title>Nerenergo</title>
</head>

<body class="bg-theme9">	<b class="screen-overlay"></b>
	<!--wrapper-->
	<div class="wrapper">
		
		<!--start top header wrapper-->
		<div class="header-wrapper bg-dark-1">
			<div class="top-menu border-bottom">
				<div class="container">
					<nav class="navbar navbar-expand">
						<div class="shiping-title text-uppercase font-13 text-white d-none d-sm-flex">Добро пожаловать в интернет-магазин электрики</div>
						<ul class="navbar-nav ms-auto d-none d-lg-flex">
							
							<li class="nav-item"> <a class="nav-link" href="{% url 'mainapp:contact' %}">О нас</a>
							</li>
							<li class="nav-item"> <a class="nav-link" href="{% url 'mainapp:blog' %}">Блог</a>
							</li>
							<li class="nav-item">	<a class="nav-link" href="contact-us.html">Контакты</a>
							</li>
							
							
						</ul>
						
						<!--<ul class="navbar-nav social-link ms-lg-2 ms-auto">
							<li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-facebook'></i></a>
							</li>
							<li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-twitter'></i></a>
							</li>
							<li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-linkedin'></i></a>
							</li>
						</ul>-->
					</nav>
				</div>
			</div>
			<div class="header-content pb-3 pb-md-0">
				<div class="container">
					<div class="row align-items-center">
						<div class="col col-md-auto">
							<div class="d-flex align-items-center">
								<div class="mobile-toggle-menu d-lg-none px-lg-2" data-trigger="#navbar_main"><i class='bx bx-menu'></i>
								</div>
								<div class="logo d-none d-lg-flex">
									<a href="{% url 'mainapp:index.html' %}">
										<img src="/media/logo-ner.png" class="logo-icon" alt="" />
									</a>
								</div>
							</div>
						</div>

						<div class="col-12 col-md order-4 order-md-2">
							<div class="input-group flex-nowrap px-xl-4">
								<form action="{% url 'mainapp:search' %}" method="get" class="w-100 rounded-0">
									<input type="text" name = 'q' class="form-control form-control-lg" placeholder="Поиск...">
									<!--<span class="input-group-text cursor-pointer"><i class='bx bx-search'></i></span>-->
								</form>
							</div>
						</div>
						<div class="col col-md-auto order-3 d-none d-xl-flex align-items-center">
							<div class="fs-1 text-white"><i class='bx bx-headphone'></i>
							</div>
							<div class="ms-2">
								<p class="mb-0 font-13">Звонить по номеру</p>
								<h5 class="mb-0">+79774962409</h5>
							</div>
						</div>
						<div class="col col-md-auto order-2 order-md-4">
							<div class="top-cart-icons">
								<nav class="navbar navbar-expand">
									<ul class="navbar-nav ms-auto">
										{% if user.is_authenticated %}
										
										
										<li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link cart-link"><i class='bx bx-log-out'></i></a>
										</li>
										{% else %}
										<li class="nav-item"><a href="{% url 'accounts:sing_in' %}" class="nav-link cart-link"><i class='bx bx-user'></i></a>
										</li>
										{% endif %}
										<!--<li class="nav-item"><a href="javascript:;" class="nav-link cart-link"><i class='bx bx-heart'></i></a>
										</li>-->
										<li class="nav-item dropdown dropdown-large">
											<a href="#" class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative cart-link" data-bs-toggle="dropdown">	<span class="alert-count">{{quantityyy}}</span>
												<i class='bx bx-shopping-bag'></i>
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:;">
													<div class="cart-header">
														<p class="cart-header-title mb-0">Товаров - {{quantityyy}}</p>
														<p class="cart-header-clear ms-auto mb-0">Обзор корзины</p>
													</div>
												</a>
												{% for cart_item in cart_items %}
												<div class="cart-list">
													<a class="dropdown-item" href="">
														<div class="d-flex align-items-center">
															<div class="flex-grow-1">
																<h6 class="cart-product-title">{{ cart_item.product.title }} - ({{cart_item.quantity}})</h6>
																<p class="cart-product-price">{{cart_item.product.price}}</p>
															</div>
															<div class="position-relative">
																
																<div class="cart-product">
																	<img src="{{cart_item.product.image.url}}" class="" alt="product image">
																</div>
																
															</div>

														</div>
													</a>
													
												</div>
												{% endfor %}
												<a href="javascript:;">
													<div class="text-center cart-footer d-flex align-items-center">
														<h5 class="mb-0">Всего</h5>
														<h5 class="mb-0 ms-auto">${{ totalll }}</h5>
													</div>
												</a>
												<div class="d-grid p-3 border-top">	<a href="{% url 'cart:cart' %}" class="btn btn-light btn-ecomm">В корзину</a>
												</div>
												
											</div>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!--end row-->
				</div>
			</div>
			<div class="primary-menu border-top">
				<div class="container">
					<nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg">
						<div class="offcanvas-header">
							<button class="btn-close float-end"></button>
							<h5 class="py-2 text-white">Навигация</h5>
						</div>
						<ul class="navbar-nav">
							<li class="nav-item active"> <a class="nav-link" href="{% url 'mainapp:index.html' %}">Магазин</a> 
							</li>
							<!--<li class="nav-item"> <a class="nav-link" href="blog.html">Блог </a> 
							</li> #вкладка блога на всякий случай -->
							<li class="nav-item"> <a class="nav-link" href="{% url 'mainapp:contact' %}">О нас</a> 
							</li>
							<li class="nav-item"> <a class="nav-link" href="{% url 'mainapp:all_category' %}">Каталог категорий</a> 
							</li>
							<li class="nav-item"> <a class="nav-link" href="{% url 'mainapp:blog' %}">Новости</a> 
							</li>
							<li class="nav-item"> <a class="nav-link" href="{% url 'accounts:dashboard' %}">Мой аккаунт</a> 
							</li>

							<!--
							<li class="nav-item dropdown">	<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">Аккаунт<i class='bx bx-chevron-down'></i></a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="account-dashboard.html">Dashboard</a>
									</li>
									<li><a class="dropdown-item" href="account-downloads.html">Загрузки</a>
									</li>
									<li><a class="dropdown-item" href="account-orders.html">Покупки</a>
									</li>
									<li><a class="dropdown-item" href="account-payment-methods.html">Способ оплаты</a>
									</li>
									<li><a class="dropdown-item" href="account-user-details.html">Дополнительная информация</a>
									</li>
								</ul>
							</li>-->


						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!--end top header wrapper-->
		<!--start slider section-->

		{% block content %}

		<!--<section class="slider-section" >
			<div class="first-slider" >
				<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
					<ol class="carousel-indicators">
						<li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
						<li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
						<li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
					</ol>
					<div class="carousel-inner " style="height: 550px;">
						<div class="carousel-item active ">
							<div class="row d-flex align-items-center">
								<div class="col d-none d-lg-flex justify-content-center">
									<div class="">
										<h3 class="h3 fw-light">NerEnergo!</h3>
										<h1 class="h1">Нас рекомендуют друзьям</h1>
										<p class="pb-3">Услуги монтажа и демонтажа</p>
									</div>
								</div>
								<div class="col">
									<img src="/media/slider/06.jpg" class="img-fluid" alt="..." width="700" height="700" >
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row d-flex align-items-center">
								<div class="col d-none d-lg-flex justify-content-center">
									<div class="">
										<h3 class="h3 fw-light">NerEnergo!</h3>
										<h1 class="h1">Доверяй проверенному магазину</h1>
										<p class="pb-3">Электрика, аксессуары и вспомогательное оборудование</p>
									</div>
								</div>
								<div class="col">
									<img src="/media/slider/05.png" class="img-fluid" alt="...">
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row d-flex align-items-center">
								<div class="col d-none d-lg-flex justify-content-center">
									<div class="">
										<h3 class="h3 fw-light">NerEnergo!</h3>
										<h1 class="h1">Консультация по любому вопросу</h1>
										<p class="pb-3">подготовка проектов, консультирование</p>
										
									</div>
								</div>
								<div class="col">
									<img src="/media/slider/07.png" class="img-fluid" alt="..." width="700" height="700" >
								</div>>
								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">	<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</a>
				</div>
			</div>
		</section>-->


		<!--end slider section-->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">

				<!--start Featured product-->
				<section class="py-4">
					<div class="container">
						<div class="d-flex align-items-center">
							<h5 class="text-uppercase mb-0">ТОВАРЫ</h5>
							<a href="/search/?q={{products.title.all}}" class="btn btn-light ms-auto rounded-0">Все продукты<i class='bx bx-chevron-right'></i></a>
						</div>
						<hr/>


						
						<div class="product-grid">
							<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
								{% for product in products %}
								
								<div class="col">

									<div class="card rounded-0 product-card">
										
										<a href="{{ product.get_absolute_url }}">
											<img src="{{product.image.url}}" class="card-img-top" alt="..." width="140" height="210">
										</a>
										<div class="card-body">
											<div class="product-info">
												<a href="javascript:;">
													<p class="product-catergory font-13 mb-1">{{product.category}}</p>
												</a>
												<a href="{{ product.get_absolute_url }}">
													<h6 class="product-name mb-2">{{product.title}}</h6>
												</a>
												<div class="d-flex align-items-center">
													<div class="mb-1 product-price">
														<span class="text-white fs-5">{{product.price}} Р.</span>
													</div>
												</div>
												<div class="product-action mt-2">
													<div class="d-grid gap-2">
														<a href="{% url 'cart:add_cart' product_id=product.id %}" class="btn btn-light btn-ecomm" >
															<i class='bx bxs-cart-add'></i>
															Добавить в корзину
														</a>	

														<a href="javascript:;" class="btn btn-link btn-ecomm" data-bs-toggle="modal" data-bs-target="#QuickViewProduct"><i class='bx bx-zoom-in'></i>Quick View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>

								{% endfor %}
							</div>
							<!--end row-->

						
						</div>
					</div>
				</section>
				
				<!--end Featured product-->

				<!--start categories
				{% load mptt_tags %}
				<section class="py-4">
					<div class="container">
						<div class="d-flex align-items-center">
							<h5 class="text-uppercase mb-0">Browse Catergory</h5>
							<a href="shop-categories.html" class="btn btn-light ms-auto rounded-0">View All<i class='bx bx-chevron-right'></i></a>
						</div>
						<hr/>

						<div class="product-grid">
							<div class="browse-category owl-carousel owl-theme">
								{% recursetree categories %} 
								<div class="item">
									<div class="card rounded-0 product-card border">
										<div class="card-body">
											<img src="/media/categories/01.png" class="img-fluid" alt="...">
										</div>
										<div class="card-footer text-center">
											<h6 class="mb-1 text-uppercase">{{ node.name }}</h6>
											<p class="mb-0 font-12 text-uppercase">{{ count.node.children }}</p>
										</div>
									</div>
								</div>
								{% endrecursetree %}
							</div>
						</div>
					</div>
				</section>
				end categories-->

				<!--start News-->

				<section class="py-4">
					<div class="container">
						<div class="d-flex align-items-center">
							<h5 class="text-uppercase mb-0">Последние новости</h5>
							<a href="{% url 'mainapp:blog' %}" class="btn btn-light ms-auto rounded-0">Все новости<i class='bx bx-chevron-right'></i></a>
						</div>
						<hr/>
						<div class="product-grid">
							<div class="latest-news owl-carousel owl-theme">
								{% for post in news_post %}
								<div class="item">
									<div class="card rounded-0 product-card border">
										<a href="{% url 'mainapp:blog' %}">
											<img src="{{post.image.url}}" class="card-img-top border-bottom bg-dark-1" alt="..." width="140" height="210">
										</a>
										<div class="card-body">
											<div class="news-title">
												<a href="javascript:;">
													<h5 class="mb-3 text-capitalize">{{post.title}}</h5>
												</a>
											</div>
											<p class="news-content mb-0"></p>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>

				{% endblock content %}
				<!--end News-->
				<!--start brands-->

				<!--end brands-->

				

				<!--start footer section-->
				<footer>
					<section class="py-4 bg-dark-1">
						<div class="container">
							<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
								<div class="col">
									<div class="footer-section1 mb-3">
										<h6 class="mb-3 text-uppercase">Контактная информация</h6>
										<div class="address mb-3">
											<p class="mb-0 text-uppercase text-white">Адрес</p>
											<p class="mb-0 font-12">Пос. Чульман ул. советская, д.</p>
										</div>
										<div class="phone mb-3">
											<p class="mb-0 text-uppercase text-white">Телефон для связи</p>
											<p class="mb-0 font-13">+91-9910XXXX</p>
										</div>
										<div class="email mb-3">
											<p class="mb-0 text-uppercase text-white">Email</p>
											<p class="mb-0 font-13">mail@example.com</p>
										</div>
										<div class="working-days mb-3">
											<p class="mb-0 text-uppercase text-white">Время работы</p>
											<p class="mb-0 font-13">Понедельник - Пятница / 9:30 - 18:30</p>
										</div>
									</div>
								</div>
							</div>
							
							<hr/>
							<div class="row row-cols-1 row-cols-md-2 align-items-center">
								<div class="col">
									<p class="mb-0">Copyright © 2022. Nerenergo</p>
								</div>
								<div class="col text-end">
									<div class="payment-icon">
										<div class="row row-cols-auto g-2 justify-content-end">
											<div class="col">
												<img src="/media/icons/visa.png" alt="" />
											</div>
											<div class="col">
												<img src="/media/icons/mastercard.png" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</section>
				</footer>
				<!--end footer section-->


			</div>
		</div>
		<!--end page wrapper -->

		
		
		


		<!--start quick view product-->
		<!-- Modal -->
		<div class="modal fade" id="QuickViewProduct">
			<div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-xl-down">
				<div class="modal-content bg-dark-4 rounded-0 border-0">
					<div class="modal-body">
						<button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
						<div class="row g-0">
							<div class="col-12 col-lg-6">
								<div class="image-zoom-section">
									<div class="product-gallery owl-carousel owl-theme border mb-3 p-3" data-slider-id="1">
										<div class="item">
											<img src="/media/product-gallery/01.png" class="img-fluid" alt="">
										</div>
										<div class="item">
											<img src="/media/product-gallery/02.png" class="img-fluid" alt="">
										</div>
										<div class="item">
											<img src="/media/product-gallery/03.png" class="img-fluid" alt="">
										</div>
										<div class="item">
											<img src="/media/product-gallery/04.png" class="img-fluid" alt="">
										</div>
									</div>
									<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
										<button class="owl-thumb-item">
											<img src="/media/product-gallery/01.png" class="" alt="">
										</button>
										<button class="owl-thumb-item">
											<img src="/media/product-gallery/02.png" class="" alt="">
										</button>
										<button class="owl-thumb-item">
											<img src="/media/product-gallery/03.png" class="" alt="">
										</button>
										<button class="owl-thumb-item">
											<img src="/media/product-gallery/04.png" class="" alt="">
										</button>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="product-info-section p-3">
									<h3 class="mt-3 mt-lg-0 mb-0">Allen Solly Men's Polo T-Shirt</h3>
									<div class="product-rating d-flex align-items-center mt-2">
										<div class="rates cursor-pointer font-13">	<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-light-4"></i>
										</div>
										<div class="ms-1">
											<p class="mb-0">(24 Ratings)</p>
										</div>
									</div>
									<div class="d-flex align-items-center mt-3 gap-2">
										<h5 class="mb-0 text-decoration-line-through text-light-3">$98.00</h5>
										<h4 class="mb-0">$49.00</h4>
									</div>
									<div class="mt-3">
										<h6>Discription :</h6>
										<p class="mb-0">Virgil Abloh’s Off-White is a streetwear-inspired collection that continues to break away from the conventions of mainstream fashion. Made in Italy, these black and brown Odsy-1000 low-top sneakers.</p>
									</div>
									<dl class="row mt-3">	<dt class="col-sm-3">Product id</dt>
										<dd class="col-sm-9">#BHU5879</dd>	<dt class="col-sm-3">Delivery</dt>
										<dd class="col-sm-9">Russia, USA, and Europe</dd>
									</dl>
									<div class="row row-cols-auto align-items-center mt-3">
										<div class="col">
											<label class="form-label">Quantity</label>
											<select class="form-select form-select-sm">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="col">
											<label class="form-label">Size</label>
											<select class="form-select form-select-sm">
												<option>S</option>
												<option>M</option>
												<option>L</option>
												<option>XS</option>
												<option>XL</option>
											</select>
										</div>
										<div class="col">
											<label class="form-label">Colors</label>
											<div class="color-indigators d-flex align-items-center gap-2">
												<div class="color-indigator-item bg-primary"></div>
												<div class="color-indigator-item bg-danger"></div>
												<div class="color-indigator-item bg-success"></div>
												<div class="color-indigator-item bg-warning"></div>
											</div>
										</div>
									</div>
									<!--end row-->
									<div class="d-flex gap-2 mt-3">
										<a href="javascript:;" class="btn btn-white btn-ecomm">	<i class="bx bxs-cart-add"></i>Add to Cart</a>	<a href="javascript:;" class="btn btn-light btn-ecomm"><i class="bx bx-heart"></i>Add to Wishlist</a>
									</div>
								</div>
							</div>
						</div>



						<!--end row-->
					</div>
				</div>
			</div>
		</div>
		<!--end quick view product-->

		
		<!--Start Back To Top Button--> 
		<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
	</div>
	<!--end wrapper-->


	
	<!--start switcher-->
	
	<!--<div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<div class="d-flex align-items-center">
				<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
				<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
			</div>
			<hr/>
			<p class="mb-0">Gaussian Texture</p>
			<hr>
			<ul class="switcher">
				<li id="theme1"></li>
				<li id="theme2"></li>
				<li id="theme3"></li>
				<li id="theme4"></li>
				<li id="theme5"></li>
				<li id="theme6"></li>
			</ul>
			<hr>
			<p class="mb-0">Gradient Background</p>
			<hr>
			<ul class="switcher">
				<li id="theme7"></li>
				<li id="theme8"></li>
				<li id="theme9"></li>
				<li id="theme10"></li>
				<li id="theme11"></li>
				<li id="theme12"></li>
				<li id="theme13"></li>
				<li id="theme14"></li>
				<li id="theme15"></li>
			</ul>
		</div>
	</div>-->
	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="{% static 'mainapp/js/bootstrap.bundle.min.js' %}"></script>
	<!--plugins-->
	<script src="{% static 'mainapp/js/jquery.min.js' %}"></script>
	<script src="{% static 'mainapp/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'mainapp/plugins/OwlCarousel/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'mainapp/plugins/OwlCarousel/js/owl.carousel2.thumbs.min.js' %}"></script>
	<script src="{% static 'mainapp/plugins/metismenu/js/metisMenu.min.js' %} "></script>

	<script src="{% static 'mainapp/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<!--app JS-->
	<script src="{% static 'mainapp/js/app.js' %}"></script>
	<script src="{% static 'mainapp/js/index.js' %}"></script>

	


</body>

</html>