{% extends 'mainapp/index.html' %}
{% load crispy_forms_tags %}


{% block content %}



				<section class="py-4">

					
					<div class="container">
						<h3 class="breadcrumb-title pe-3">Результат</h3>
						<hr>
						<div class="row">
							<!-- зона с блоком фильтров -->
							<div class="col-12 col-xl-3">
								<div class="btn-mobile-filter d-xl-none"><i class='bx bx-slider-alt'></i>
								</div>

								<div class="filter-sidebar d-none d-xl-flex">
									<div class="card rounded-0 w-100">
										<div class="card-body">
											<div class="align-items-center d-flex d-xl-none">
												
												<div class="btn-mobile-filter-close btn-close ms-auto cursor-pointer"></div>
											</div>

											<h6 class="text-uppercase mb-0">фильтры</h6>
											<hr>
											
											
											<!--<label for="customRange2" class="form-label">Example range</label>
											<input type="range" class="form-range" min="0" max="5" id="customRange2">
											<hr>-->
											<form method="get">
												{{ filter_P.form|crispy }}

												<input type="submit"/>
											</form>
											

											<hr>

										
										</div>

									</div>
								</div>	
							</div>

							<!-- зоны с карточками товаров-->
							<div class="col-12 col-xl-9">
									<div class="product-wrapper">
										<div class="toolbox d-flex align-items-center mb-3 gap-2">
										<!--<difilter_Pv class="d-flex flex-wrap flex-grow-1 gap-1">
												<div class="d-flex align-items-center flex-nowrap">
													<p class="mb-0 font-5 text-nowrap text-white">Сортировать по:</p>
													<select class="form-select ms-3 rounded-0">
														<option value="menu_order" selected="selected">По умолчанию</option>
														<option value="popularity">Популярности</option>
														<option value="rating">Рейтинг</option>
														<option value="price">По цене: по возростанию</option>
														<option value="price-desc">По цене: по убыванию</option>
													</select>
												</div>
											</div> -->
											<!--<div class="d-flex flex-wrap">
												<div class="d-flex align-items-center flex-nowrap">
													<p class="mb-0 font-13 text-nowrap text-white">Показано: 6</p>
													
												</div>
											</div>-->		
										</div>
										<div class="product-grid">
											<div class="row row-cols-2 row-cols-md-2 row-cols-xl-3">
												{% for product in filter_P.qs %}
													
												<div class="col">
													<div class="card rounded-0 product-card" style="width: 12rem;">
														
														<a href="{{ product.get_absolute_url }}">
															<img src="{{product.image.url}}"  style="height: 9rem; width: 12rem; border: 1.5px #000000 solid " class="card-img-top img-fluid" alt="...">
													</a>
													<div class="card-body">
														<div class="product-info">
															<a href="javascript:;">
																<p class="product-catergory font-13 mb-1 ">{{product.category}}</p>
															</a>
															<a href="{{ product.get_absolute_url }}">
																<h6 class="product-name mb-2">{{product.title}}</h6>
															</a>
															<div class="d-flex align-items-center">
																<div class="mb-1 product-price">
																	<span class="text-white fs-8">Цена: {{product.price}} Р.</span>
																</div>
															</div>
															<div class="product-action mt-2">
																<div class="d-grid gap-2">
																	<a href="{% url 'cart:add_cart' product_id=product.id %}" class="btn btn-light btn-ecomm">	<i class='bx bxs-cart-add'></i></a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>


									</div>

									
									
								</div>
							</div>
							<hr>
							<!--место для пагинации-->
						</div>		
					</div>	
						<!--end row-->


				</section>

{% endblock content %}


