{% extends 'mainapp/index.html' %}

{% block content %}

<head>
    <title>{{ product.title }}</title>
    <meta name="description" content="{{ product.characteristiks }}">
</head>

<section class="py-4">
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-3 ms-1">
        	<ol class="breadcrumb">
        		<li class="breadcrumb-item "><a href="{% url 'mainapp:index.html' %}">Главная</a></li>
                
                
        		<li class="breadcrumb-item"><a href="/search/?q={{product.category.name }}" >{{product.category.name }}</a></li>
                
        		<li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
        	</ol>
        </nav>
    </div>
</section>


<section class="py-4">
    <div class="container">
        <div class="row ms-0.1"   >
            <div class="col-md-3">
                <img src="{{ product.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-3">
            	<h3>{{ product.title }}</h3>
            	<p>Цена: {{ product.price }} руб.</p>
                <p>Описание: {{ product.description }}</p>
		<p>{% if product.brand %}Брэнд: {{ product.brand }} {% else %} {% endif %} </p>
		<p>{% if product.shtrih_code %}Штрих-код: {{ product.shtrih_code }} {% else %} {% endif %} </p>
		<p>{% if product.articl %}Артикул: {{ product.articl }} {% else %} {% endif %} </p>
		<p>{% if product.strana %}Страна производитель: {{ product.strana }} {% else %} {% endif %} </p>

                <p>{% if product.availabillity %} В наличии {% else %} Нет в наличии {% endif %} </p>

                <!--<a href=""><button class="btn btn-danger">добавить в карзину</button></a>-->
                    {% csrf_token %}
                <a href="{% url 'cart:add_cart' product_id=product.id %}"><button class="btn btn-primary">Добавить в корзину</button></a>
            </div>
            <div class="characteristic">
                <p class='mt-4'> Характеристики </p>
                <table class="table w-100" >
		    <tr>
                        <td>{{ product.property1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property3 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property4 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property5 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property6 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property7 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property8 }}</td>
                    </tr>
                    <tr>
                        <td>{{ product.property9}}</td>
                    </tr>
                    <tr> 
                        <td>{{ product.property10 }}</td>
                    </tr>
		    <tr>
                        <td>{{ product.characteristiks }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


{% endblock content %}


