
{% extends 'mainapp/index.html' %}

{% block content %}




<!--start shop cart-->
				


				<section class="py-0 py-lg-5">
					<div class="container">
					{% if request.GET.command == 'verification' %}
						<div style="width:70%;background:#1c1427" class="alert alert-warning text-center" role="alert">
						<br>
						<b><p style="font-size:25px;color:#f4cca4">Check Gmail To Active Your Account</p></b></b><br><br><br>
						<a class="btn btn-warning"  style="font-size:20px; background:#f4cca4;color:#1c1427;width:250px" href="{% url 'mainapp:index.html' %}">Back to home</a><br><br>
						
						</div>
						<br>
					{% else %}
						<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
							<div class="row row-cols-1 row-cols-lg-1 row-cols-xl-2">
								<div class="col mx-auto">
									<div class="card mb-0">
										
										<div class="card-body">
											<div class="border p-4 rounded">
												
												<div class="text-center">
													<h3 class="">Регистрация</h3>
												</div>
												{% if forms.errors %}
					
												<div class="alert alert-danger" role="alert">
												<p>Please correct the following errors:</p><br>
													{% if forms.email.errors %}
													{% for field in forms.email.errors %}
														<p><b>Email :</b> {{ field }}</p>
													{% endfor %}
													{% endif %}

													{% if forms.non_field_errors %}
													{% for field in forms.non_field_errors %}
														<p><b>Password :</b> {{ field }}</p>
													{% endfor %}
													{% endif %}

												</div>
												<br>
												{% endif %}
												
												<hr/>
												{% include "mainapp/alerts.html" %}
												<div class="form-body">
													<form class="login100-form validate-form row g-3" action="{% url 'accounts:register' %}" method="POST">
													
														{% csrf_token %}
														<div class="col-12 wrap-input100 validate-input">
															
															<table class="table">
																
																	<tr>
																		<th class="">
																			<label>Имя</label>
																		</th>
																		<th class="">
																			{{forms.first_name}}
																		</th>
																	</tr>	
																	
															
															
																	<tr>
																		<th class="">
																			<label>Фамилия</label>
																		</th>
																		<th class="">
																			{{forms.last_name}}
																		</th>
																	</tr>
																
																	<tr>
																		<th>
																			<label>Email</label>
																		</th>
																		<th>
																			{{forms.email}}
																		</th>
																	</tr>	
															
																	<tr>
																		<th>
																			<label>Номер телефона</label>
																		</th>
																		<th>
																			{{forms.Phone_number}}
																		</th>
																	</tr>	
															
															
															
																	<tr>
																		<th>
																			<label>Пароль</label>
																		</th>
																		<th>
																			{{forms.password}}
																		</th>
																	</tr>	
															
													
																	<tr>
																		<th>
																			<label>Повторите пароль</label>
																		</th>
																		<th>
																			{{forms.repeat_password}}
																		</th>
																	</tr>	
															</table>
														</div>
														
														<div class="col-12">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
																<label class="form-check-label" for="flexSwitchCheckChecked">Даю согласие на обработку персональных данных</label>
															</div>
														</div>
														<div class="container-login100-form-btn">
															<div class="wrap-login100-form-btn">
																<div class="login100-form-bgbtn"></div>
																<button class="login100-form-btn btn-light"><i class='bx bx-user'><h5>Регистрация</h5></i>
																	
																</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
					{% endif %}
				</section>
				<!--end shop cart-->


{% endblock content %}